/* Styles pour les fiches individuelles des téléphones */
.phone-card {
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.phone-card p {
  margin-bottom: 5px;
  font-family: var(--fontFamilyText);
  color: var(--text);
  margin: 10px;
  font-size: 0.7rem;
}

.phone-card .has-charger {
  height: 50px;
  width: 50px;
  background: url("../../assets/image/charger.svg") no-repeat center center;
}

.phone-card .no-charger {
  height: 50px;
  width: 50px;
  background: url("../../assets/image/no-chargeur.svg") no-repeat center center;
}

.photo {
  height: 100px;
  width: 100px;
}

@media (min-width: 768px) {
  /* Taille de l'écran de tablette */
  .info {
    display: flex;
    align-items: CENTER;

    justify-content: space-around;
    font-size: 2rem;
  }

  .phone-card p {
    margin-bottom: 5px;
    font-family: var(--fontFamilyText);
    color: var(--text);
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .photo {
    height: 50px;
    width: 50px;
  }

  @media (min-width: 768px) {
    /* Taille de l'écran de tablette */
    .phone-card ul {
      display: table;
      width: 100%;
      border-collapse: collapse;
    }

    .phone-card li {
      display: table-row;
    }

    .phone-card li > div {
      display: table-cell;
      padding: 10px;
      border-bottom: 1px solid var(--text);
      font-family: var(--fontFamilyText);
      color: var(--text);
      font-size: 0.7rem;
    }

    .phone-card .has-charger,
    .phone-card .no-charger {
      display: table-cell;
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .photo {
      height: 100px;
      width: 100px;
    }
  }
}

.photo {
  height: 100px;
  width: 100px;
}
