/* Styles pour les fiches individuelles des téléphones */
.phone-card {
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 10px;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.phone-card p {
  margin-bottom: 5px;
  font-family: var(--fontFamilyText);
  color: var(--text);
  margin: 10px;
  font-size: 0.7rem;
}

.phone-card .has-charger {
  height: 50px;
  width: 50px;
  background: url("../../assets/image/charger.svg") no-repeat center center;
}

.phone-card .no-charger {
  height: 50px;
  width: 50px;
  background: url("../../assets/image/no-chargeur.svg") no-repeat center center;
}

.photo {
  height: 100px;
  width: 100px;
}

@media (min-width: 768px) {
  /* Taille de l'écran de tablette */
  .info {
    display: flex;
    align-items: CENTER;

    justify-content: space-around;
    font-size: 2rem;
  }

  .phone-card p {
    margin-bottom: 5px;
    font-family: var(--fontFamilyText);
    color: var(--text);
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .photo {
    height: 50px;
    width: 50px;
  }

  @media (min-width: 768px) {
    .table-container {
      margin-top: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 14px;
    }

    th {
      background-color: #f2f2f2;
      padding: 10px;
      text-align: left;
      font-weight: bold;
    }

    td {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    .charger {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
      margin-left: 5px;
    }

    .has-charger {
      background-color: green;
    }

    .no-charger {
      background-color: red;
    }
  }
}
