:root {
  /* COLORS */

  --primaryBlue: rgba(38, 188, 236, 1);
  --primaryYellow: rgba(254, 204, 56, 1);
  --primaryViolet: rgba(218, 36, 96, 1);

  --secondaryBlue: rgba(35, 61, 141, 1);
  --text: rgba(0, 39, 67, 1);

  /*Font Family*/

  --fontFamilyTitle: "Asap Condensed";
  --fontFamilyText: "Poppins";
}
