:root {
  /* COLORS */

  --primaryBlue: rgba(38, 188, 236, 1);
  --primaryYellow: rgba(254, 204, 56, 1);
  --primaryViolet: rgba(218, 36, 96, 1);
  --primaryWhite: rgba(255, 255, 255, 1);
  --primaryBlack: rgba(23, 22, 22, 1);
  --primaryGray: rgba(126, 122, 122, 1);

  --secondaryBlue: rgba(35, 61, 141, 1);
  --secondaryGray: rgba(197, 194, 194, 0.2);
  --secondayLightGray: rgba(245, 245, 245, 1);

  --thirdGray: rgba(197, 194, 194, 0.8);
  --text: rgba(0, 39, 67, 1);

  /*Font Family*/

  --fontFamilyTitle: "Asap Condensed";
  --fontFamilyText: "Poppins";
}
